@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300;1,600&display=swap');

* {
    box-sizing: border-box;
}


:root {
    --primary:#FDE68A;
    --black:#064E3B;
    --width-break:600px
}

body{
    margin:0;
    font-family: 'Cormorant Garamond', serif;
    color:black;
    font-weight:bold ;
}

nav{
    background-color: var(--primary);
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
}

main{
    margin:auto;
    padding: 1rem;
    max-width: var(--width-break);
}

textarea {
    box-sizing: border-box;
    text-align: center;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family: inherit;
}

button {
    background-color: var(--primary);
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-family: inherit;
    font-size: large;
}


#output {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    min-height: 10vh;
    max-height: 20vh;
    overflow: scroll;
    border: 1px solid var(--black);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary);
    text-align: center;
}

footer p {
    max-width: var(--width-break);
    margin: auto;
}