@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300;1,600&display=swap');

* {
    box-sizing: border-box;
}


:root {
    --primary:#f2c94c;
    --black: #333333;
    --width-break:600px
}

body{
    margin:auto;
    font-family: 'Cormorant Garamond', serif;
    color:black;
    font-weight:bold ;
}

nav{
    background-color: var(--primary);
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
}

main{
    margin:auto;
    padding: 1rem;
    max-width: var(--width-break);
}

textarea {
    box-sizing:border-box;
    text-align: center;
    display: block;
    width: var(--width-break);
    min-height: 20vh;
    margin-top: 2rem;
    margin: 1rem auto;
    font-size: large;
    font-family: inherit;
    border: 1px solid var(--black);
}
button {
    background-color: var(--primary);
    border: 1px solid var(--black);
    margin:auto;
    margin: 1rem 2rem;
    text-align: center;
    padding: 1rem 2rem;
    font-family: inherit;
    font-size: large;
    appearance: auto;
}


#output {
    box-sizing: border-box;
    width: var(--width-break);
    text-align: center;
    margin:  auto ;
    min-height: 10vh;
    max-height: 20vh;
    overflow: scroll;
    border: 1px solid var(--black);
}

#textoutput{
    margin: auto;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem 1rem;
    background-color: var(--primary);
    text-align: center;
}

footer p {
    max-width: var(--width-break);
    margin: auto;
}